/* You can add global styles to this file, and also import other style files */

input.ng-touched.ng-invalid {
    border-color: rgb(240, 24, 24);;
}

input.ng-valid {
    border-color: rgb(6, 231, 6);
}

.green-icon {
    color: rgb(6, 231, 6);
}

.red-icon {
    color: rgb(240, 24, 24);    
}

#toast-container > div {
    opacity: 1;
}

table tr:hover {
    cursor: pointer;
    background-color:  rgb(226, 223, 223);
    color: whitesmoke;
}